<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="estilos.css">
    <title>Recetas</title>
</head>
<body>

        <header>
            <div class="logo">Recetras 👨‍🍳 </div>
            <nav class="barra">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Pastas</a></li>
                    <li><a href="#">Carnes</a></li>
                    <li><a href="#">Postres</a></li>
                    <li><a href="#">Panaderia</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="call">
            <h1>Comrparte tus recetas</h1>
            <p>En esta pagina no solo podes ver las recetas sino que tambien podes compartir tus recetas favoritas para que los demas usuarios puedan replicarlas</p>
            </div>        
        </main>
        <h2 id="sec">Pan de campo</h2>
        <div><center><img src="multimedia/pan.jpg" ></center>
            <center><p>Pan de campo es un pan plano con un nombre que se piensa como pan de campo, pan de campo o pan de vaquero. El pan era un alimento básico regional de vaqueros y vaqueros del sur de Texas. Celebrado en varios festivales del sur de Texas, fue nombrado símbolo oficial de Texas en 2005.</p></center>
        <h3>Ingredientes:</h3>
        <div class="procedimiento">
            <p>1 kg harina de trigo </p>

            <p>550 ml de agua tibia</p>
            
            <p> 50 g levadura fresca</p>
            
            <p> 50 g grasa de vacuno</p>
            
            <p> 25 g de sal</p>
            
            <p> 10 g de azúcar</p>
            </div>
        <h3>Procedimiento:</h3>
        <div class="procedimiento">
            <p>1. Disolver la levadura desmenuzada en media taza de agua tibia (40°C/104°F), añadir dos cucharadas de harina, revolver hasta disolver y reposar unos 5 minutos en un lugar cálido hasta que la mezcla comience a burbujear.</p>
            <p>2. En un bol grande añadir la harina cernida, la sal y el azúcar, mezclar un poco y abrir una corona en el centro, incorporar la mezcla de levadura y el resto del agua, mezclar todo y añadir la manteca poco a poco, trabajando la masa hasta obtener mezcla ligeramente pegajosa.</p>
            <p>3. Trasladar la mezcla a una mesa de trabajo enharinada, estirar y arrojar la masa sobre la mesa formando un doblez sobre si misma (amasado francés) por unos 10 minutos hasta obtener una masa elástica y suave que no se pegue en las manos, trasladar a un bol ligeramente engrasado, cubrir con un paño limpio y reposar por unos 60 minutos o hasta que duplique su volumen.</p>
            <p>4. Encender y pre-calentar el horno a 190°C (374°F) por al menos unos 10 minutos.</p>
            <p>5. Desgasificar la masa dándole 2 o 3 golpes de puño y dividir en 3 partes iguales, amasar suavemente y dar la forma de un pan redondeado, reservar sobre una bandeja engrasada, espolvorear con harina y realizar cortes decorativos en la superficie, no muy profundos, cubrir con un paño y fermentar hasta que doble su tamaño.</p>
            <p>6. Rociar el interior del horno pre-calentado con un poco de agua e introducir la bandeja con los panes, cocinar por unos 40 minutos hasta que estén dorados y se haya formado una costra crocante característica. Retirar y enfriar sobre una rejilla.</p>
        </div>

        </p>
        
        </div>
        


        
    <footer>
        <p>Todos los derechos son recervados por copyright</p>
        <div class="redes">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </footer>
    <a href="#" class="subir">
        <i class="fa-solid fa-arrow-up"></i>
    </a>
</body>
</html>

